/target
**/target
.DS_Store
proofs/lean4/.lake/
.env
node_modules/
**/node_modules/
dist/
**/dist/

# Next.js
.next/
**/.next/
next-env.d.ts
**/next-env.d.ts
out/
**/out/

# Build
*.tsbuildinfo
**/*.tsbuildinfo
